@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Общие стили */

body {
    margin: 0;
    font-family: 'Proxima Nova', Arial, sans-serif;
    background-color: white;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

.container {
    max-width: 1575px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 165px;
    height: 50px;

    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    
    background: #c21631;
    border-radius: 10px;

    color: white;
}

.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 200px;
    height: 30px;

    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;

    background: #c21631;
    border-radius: 10px;

    color: white;
}

.btn:active {
    transform: scale(0.95);
  }
    
.image-btn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #c21631;
    border-radius: 50%;
    background-image: url('/static/images/icons/person-circle.svg');
    background-size: cover;
}

.image-btn:hover {
    opacity: 0.8;
} 

.image-btn:active {
    transform: scale(0.95);
}

/* Шапка */

.header {
    padding: 25px 0px; /*второе значение 175*/
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header__list {
    display: flex;
    gap: 28px;
}

.header__nav a {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; 
}

.header__nav a:hover {
    color: #c21631;
}

.header__nav a.active {
    color: #c21631; 
}

.main {
    padding: 20px 0;
}


.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.cart-item:last-child {
    border-bottom: none;
}

img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    margin-top: 1rem;
}