<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUIV Столовая</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for ('static', filename='images/icons/MUIV.png')}}" alt="" class="head__logo" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div class="container">
            <img src="{{ url_for('static', filename='images/icons/logo.png') }}" alt="" class="header__logo"> 

        <!-- ul - ненумерованный список ( unordered list )-->
        <!-- li - пункт списка ( list item )-->

        <nav class="header__nav">
            <ul class="header__list">
                <li><a href="/menu">Все меню</a></li>
                <li><a href="/category/bakery">ВЫПЕЧКА</a></li>
                <li><a href="/category/first-dishes">ПЕРВЫЕ БЛЮДА</a></li>
                <li><a href="/category/salads">САЛАТЫ</a></li>
                <li><a href="/category/second-dishes">ВТОРЫЕ БЛЮДА</a></li>
                <li><a href="/category/drinks">НАПИТКИ</a></li>
            </ul>
        </nav>

            <a href="/cart" class="btn btn-danger">Корзина</a> 
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('profile', username=current_user.username) }}" class="image-btn btn-danger"></a>
            {% else %}
                <a href="{{ url_for('login') }}" class="image-btn btn-danger"></a>
            {% endif %}
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for el in dishes %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ url_for('static', filename='images/' + el.image)}}" alt="el.name">
                        <div class="card-body">
                            <p class="my-0 font-weight-normal">{{ el.title }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/menu/{{ el.id }}" class="btn btn-danger">Детальнее</a>
                                    
                                </div>
                                <small class="text-body-secondary">Цена: {{ el.price }}</small>
                            </div>
                        </div>
                    </div>
                </div>               
                {% endfor %}
            </div>
        </div>
    </main>
    
</body>
</html>