<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleprofile.css') }}">
    <link rel="icon" href="{{ url_for ('static', filename='images/icons/MUIV.png')}}" alt="" class="head__logo" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div class="container">
            <img src="{{ url_for('static', filename='images/icons/logo.png') }}" alt="" class="header__logo"> 
            <button class="openbtn" onclick="toggleSidebar()">☰</button>
            <nav class="header__nav">
                <ul class="header__list">
                    <li><a href="/menu">Все меню</a></li>
                    <li><a href="/category/bakery">ВЫПЕЧКА</a></li>
                    <li><a href="/category/first-dishes">ПЕРВЫЕ БЛЮДА</a></li>
                    <li><a href="/category/salads">САЛАТЫ</a></li>
                    <li><a href="/category/second-dishes">ВТОРЫЕ БЛЮДА</a></li>
                    <li><a href="/category/drinks">НАПИТКИ</a></li>
                </ul>
            </nav>
            <a href="/cart" class="btn btn-danger">Корзина</a> 
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('profile', username=current_user.username) }}" class="image-btn btn-danger"></a>
            {% else %}
                <a href="{{ url_for('login') }}" class="image-btn btn-danger"></a>
            {% endif %}
        </div>
    </header>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleSidebar()">×</a>
        <a href="/menu">Все меню</a>
        <a href="/category/bakery">ВЫПЕЧКА</a>
        <a href="/category/first-dishes">ПЕРВЫЕ БЛЮДА</a>
        <a href="/category/salads">САЛАТЫ</a>
        <a href="/category/second-dishes">ВТОРЫЕ БЛЮДА</a>
        <a href="/category/drinks">НАПИТКИ</a>
    </div>
    <main class="main">
        <div class="container">
            <h5><strong>Фамилия Имя Отчество:</strong> {{ user.username }}</h5>
            <br>
            <h5><strong>Email:</strong> {{ user.email }}</h5>
            <br>
            <h5><strong>Город:</strong> {{ user.city }}</h5>
            <br>
            <h5><strong>Страна:</strong> {{ user.country }}</h5>
            <br>
            <div class="btn-group">
                <a href="{{ url_for('edit_profile') }}" class="btn1 btn-danger">Редактировать</br>профиль</a>
                <a href="{{ url_for('my_orders') }}" class="btn1 btn-danger">Мои заказы</a>
                <a href="{{ url_for('logout') }}" class="btn1 btn-danger">Выйти</a>
            </div>
        </div>
    </main>
    <footer class="container my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="{{ url_for ('static', filename='images/icons/MUIV.png')}}" alt="" width="24" height="19">
            <small class="d-block mb-3 text-body-secondary">2024 © МУИВ. Все права защищены.</small>
          </div>
          <div class="col-6 col-md">
            <h5>Контакты</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a href="https://yandex.ru/maps/-/CDUOzQIO" rel="nofollow" class="footer_link_icon link_address">115432, Москва, 
                <br>2-й Кожуховский проезд, 
                <br>д. 12, стр. 1</a></li>

            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Часы работы</h5>
            <ul class="list-unstyled text-small">
                <span>
                    <i>Пн-Чт.:</i>
                     09:30-18:15
                </span>
                <span>
                    <br><i>Пт.:</i> 09:30-17:00
                </span>
            </ul>
          </div>
        </div>
      </footer>
      <script>
        function toggleSidebar() {
            document.getElementById("mySidebar").classList.toggle('open');
        }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
